.version.index /* version checker */
{
	color: #00000C;
	background-color: #99FEF8;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 2100px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 45px;
	width: 0.01px;
}

#pu650
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u650
{
	z-index: 181;
	height: 56px;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: fixed;
	top: 0px;
}

#u650:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	height: 56px;
	min-height: 0px;
	margin: 0px;
}

#u650-bw
{
	z-index: 181;
}

#u700
{
	z-index: 206;
	width: 69px;
	background-color: transparent;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -580px;
}

#u656-4
{
	z-index: 182;
	width: 192px;
	min-height: 31px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	text-align: left;
	font-size: 23px;
	letter-spacing: 0px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: -511px;
}

#u410-4
{
	z-index: 190;
	width: 76px;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	position: fixed;
	top: 18px;
	left: 50%;
	margin-left: 287px;
}

#u1569-4
{
	z-index: 194;
	width: 76px;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	position: fixed;
	top: 18px;
	left: 50%;
	margin-left: 367px;
}

#u411-4
{
	z-index: 198;
	width: 58px;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	position: fixed;
	top: 18px;
	left: 50%;
	margin-left: 448px;
}

#u412-4
{
	z-index: 202;
	width: 67px;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	position: fixed;
	top: 18px;
	left: 50%;
	margin-left: 513px;
}

#pslideshowu928
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -56px;
}

#slideshowu928
{
	z-index: 3;
	width: 0.01px;
	height: 626px;
	position: relative;
	margin-right: -10000px;
}

#u934
{
	position: absolute;
	width: 1400px;
	height: 626px;
	background-color: transparent;
}

#u934popup
{
	z-index: 4;
}

#u935
{
	z-index: 5;
	width: 1400px;
	height: 626px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u954
{
	z-index: 7;
	width: 1400px;
	height: 626px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u941-4
{
	position: absolute;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 47px;
	padding: 10px;
	line-height: 42px;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 306px;
	left: 85px;
}

#u941-4popup
{
	z-index: 9;
}

#u933-4
{
	position: absolute;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 47px;
	padding: 10px;
	line-height: 42px;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 306px;
	left: 1252px;
}

#u933-4popup
{
	z-index: 13;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 689px;
}

#u657-4
{
	z-index: 186;
	width: 213px;
	min-height: 21px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	letter-spacing: 1px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -511px;
}

#pu195-4
{
	width: 0.01px;
	margin-left: 354px;
	margin-top: -464px;
}

#u195-4
{
	z-index: 164;
	width: 514px;
	min-height: 71px;
	background-color: transparent;
	line-height: 60px;
	color: #FFFFFF;
	text-align: center;
	font-size: 50px;
	letter-spacing: -1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
}

#u196-4
{
	z-index: 168;
	width: 405px;
	min-height: 31px;
	background-color: transparent;
	line-height: 32px;
	color: #FFFFFF;
	text-align: center;
	font-size: 27px;
	letter-spacing: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 55px;
}

#u413
{
	z-index: 172;
	width: 239px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

#u413_img
{
	padding-bottom: 1px;
}

#u969
{
	z-index: 175;
	width: 168px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 20px;
	padding-bottom: 10px;
	margin-left: 524px;
	top: -136px;
	margin-bottom: -49px;
	position: relative;
}

#u969:hover
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	width: 168px;
	min-height: 0px;
	margin: 0px 0px -49px 524px;
	-pie-background: rgba(0,0,0,0.4);
}

#u970-4
{
	z-index: 176;
	width: 156px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 6px;
}

#portfolio
{
	margin-left: 600px;
	top: -53px;
	margin-bottom: -18px;
	position: relative;
}

#pu298
{
	width: 0.01px;
	margin-left: -100px;
}

#u298
{
	z-index: 2;
	min-height: 723px;
	border-style: none;
	border-color: transparent;
	background-color: #323232;
	padding-bottom: 12px;
}

#u298_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
}

#videos
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 705px;
	left: 700px;
}

#u298-bw
{
	z-index: 2;
	min-height: 723px;
}

#slideshowu1137
{
	z-index: 17;
	width: 0.01px;
	height: 536px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 97px;
}

#u1138
{
	position: absolute;
	width: 668px;
	height: 468px;
	background-color: transparent;
	left: 68px;
}

#u1138popup
{
	z-index: 18;
}

#u2007
{
	z-index: 19;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2007_img
{
	margin: -1px 170px -1px 208px;
}

#u2021
{
	z-index: 21;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2021_img
{
	padding: 112px 2px 113px 1px;
}

#u2133
{
	z-index: 23;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2133_img
{
	padding-left: 168px;
	padding-right: 168px;
}

#u2157
{
	z-index: 25;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2157_img
{
	padding-left: 82px;
	padding-right: 82px;
}

#u2166
{
	z-index: 27;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2166_img
{
	padding-left: 43px;
	padding-right: 43px;
}

#u2175
{
	z-index: 29;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2175_img
{
	padding-top: 25px;
	padding-bottom: 25px;
}

#u2204
{
	z-index: 31;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2204_img
{
	padding-left: 189px;
	padding-right: 176px;
}

#u2213
{
	z-index: 33;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2213_img
{
	padding-left: 140px;
	padding-right: 140px;
}

#u2222
{
	z-index: 35;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2222_img
{
	padding-left: 102px;
	padding-right: 102px;
}

#u2250
{
	z-index: 37;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2250_img
{
	padding-top: 33px;
	padding-bottom: 32px;
}

#u2259
{
	z-index: 39;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2007_clip,#u2259_clip
{
	overflow: hidden;
	width: 668px;
	height: 468px;
}

#u2259_img
{
	margin: 1px 182px -1px 183px;
}

#u2231
{
	z-index: 41;
	width: 668px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2231_img
{
	padding-left: 153px;
	padding-right: 154px;
}

#u1146
{
	position: absolute;
	width: 338px;
	left: 807px;
}

#u1146popup
{
	z-index: 43;
}

#u2010
{
	z-index: 44;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2024
{
	z-index: 46;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 116px;
}

#u2136
{
	z-index: 48;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u2010.SSSlideLinkSelected,#u2024.SSSlideLinkSelected,#u2136.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	width: 106px;
	height: 75px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2160
{
	z-index: 50;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
}

#u2169
{
	z-index: 52;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 116px;
}

#u2169_img
{
	margin-top: -5px;
	margin-bottom: -5px;
}

#u2178
{
	z-index: 54;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 232px;
}

#u2160.SSSlideLinkSelected,#u2169.SSSlideLinkSelected,#u2178.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	width: 106px;
	height: 75px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u2169_clip,#u2178_clip
{
	overflow: hidden;
	width: 106px;
	height: 75px;
}

#u2178_img
{
	margin-left: -7px;
	margin-right: -7px;
}

#u2207
{
	z-index: 56;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
}

#u2216
{
	z-index: 58;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 116px;
}

#u2225
{
	z-index: 60;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 232px;
}

#u2207.SSSlideLinkSelected,#u2216.SSSlideLinkSelected,#u2225.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	width: 106px;
	height: 75px;
	min-height: 0px;
	margin: 173px -10000px 0px 0px;
}

#u2253
{
	z-index: 62;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 116px;
}

#u2262
{
	z-index: 64;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 232px;
}

#u2262.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	width: 106px;
	height: 75px;
	min-height: 0px;
	margin: 260px -10000px 0px 0px;
}

#u2234
{
	z-index: 66;
	width: 106px;
	height: 75px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
}

#u2253.SSSlideLinkSelected,#u2234.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	width: 106px;
	height: 75px;
	min-height: 0px;
	margin: 259px -10000px 0px 0px;
}

#u1153
{
	position: absolute;
	width: 708px;
	background-color: transparent;
	top: 489px;
	left: 53px;
}

#u1153popup
{
	z-index: 68;
}

#u2013-4
{
	z-index: 69;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u2027-4
{
	z-index: 73;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u2139-4
{
	z-index: 77;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u2163-4
{
	z-index: 81;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u2172-4
{
	z-index: 85;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u2181-4
{
	z-index: 89;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u2210-4
{
	z-index: 93;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u2219-4
{
	z-index: 97;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u2228-4
{
	z-index: 101;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u2256-4
{
	z-index: 105;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u2265-4
{
	z-index: 109;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u2237-4
{
	z-index: 113;
	width: 688px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
}

#u1145-4
{
	position: absolute;
	width: 25px;
	min-height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	line-height: 64px;
	color: #FFFFFF;
	text-align: center;
	font-size: 46px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	top: 176px;
	-pie-background: rgba(0,0,0,0.5);
}

#u1145-4popup
{
	z-index: 117;
}

#u1158-4
{
	position: absolute;
	width: 25px;
	min-height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	line-height: 64px;
	color: #FFFFFF;
	text-align: center;
	font-size: 46px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	top: 175px;
	left: 749px;
	-pie-background: rgba(0,0,0,0.5);
}

#u1158-4popup
{
	z-index: 121;
}

#u1568-4
{
	z-index: 159;
	width: 433px;
	min-height: 43px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 120px;
}

#u1538
{
	z-index: 210;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 730px;
}

#u1565-4
{
	z-index: 154;
	width: 439px;
	min-height: 33px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	margin-left: 51px;
	margin-top: 35px;
	position: relative;
}

#pu1563
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: 9px;
}

#u1563
{
	z-index: 153;
	width: 500px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u1566
{
	z-index: 158;
	width: 500px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 634px;
}

#pu1550-4
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: 44px;
}

#u1550-4
{
	z-index: 130;
	width: 133px;
	min-height: 25px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	position: relative;
	margin-right: -10000px;
}

#u1552-4
{
	z-index: 134;
	width: 389px;
	min-height: 25px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#about
{
	margin-left: 600px;
	margin-top: 15px;
	position: relative;
}

#pu1549-4
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: 3px;
}

#u1549-4
{
	z-index: 126;
	width: 527px;
	min-height: 116px;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#contact
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 566px;
}

#u1553-11
{
	z-index: 138;
	width: 264px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#u1547
{
	z-index: 125;
	width: 1125px;
	height: 3px;
	background-color: #FFFFFF;
	margin-left: 33px;
	margin-top: 36px;
	position: relative;
}

#u1555-4
{
	z-index: 149;
	width: 267px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 33px;
	margin-top: 31px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

